<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>情绪标注工具</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/lable.js"></script>
</head>
<body>
<div class="container">
    <div id="file_view" style="text-align:center;margin-top: 20px">
        <h3>选择文件</h3>
        <input type="file" id="file_input"/>
    </div>

    <div id="label_view" style="display:none;margin-top:20px">
        <div class="row clearfix text-center" style="margin-bottom: 20px;font-size: 25px;">
            <div id="div_id_show">
                <span id="current_id_show" class="text-info"></span>
                <span class="text-primary">/</span>
                <span id="last_id_show" class="text-info"></span>
            </div>
            <div id="div_id_edit" style="display:none">
                <input type="number" id="target_id_edit" style="width: 70px;height:30px"/>
                <span class="text-info">/</span>
                <span id="last_id_edit"></span>
                <button id="switch_button" class="btn btn-info btn-sm">跳转</button>
                <button id="cancel_button" class="btn btn-info btn-sm">取消</button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="title_div"></h3>
                    </div>
                    <div id="content_div" style="height:600px;border:none;overflow-y: auto"></div>
                </div>
            </div>

            <div class="col-md-6 column">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            标注面板 <span class="glyphicon glyphicon-question-sign" id="question" data-toggle="modal"
                                       data-target="#myModal"></span>
                        </h3>
                    </div>
                    <!--</div>-->
                </div>
                <!-- 是否有效数据 -->
                <div class="container body-content">
                    <div class="row" style="margin-bottom:20px;width:400px;margin-left:80px;">
                        <div class="text-center col-xs-12">
                            <h3>是否有效数据？</h3>
                            <div class="well well-sm">
                                <div class="btn-group" data-toggle="buttons" id="Select1">
                                    <label class="btn btn-default">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="radio" name="category" id="yes"
                                               checked="checked" value="yes"/> 是
                                    </label>

                                    <label class="btn btn-default">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="radio" name="category" id="no"
                                               value="no"/> 否
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 情绪类别 -->
                <div class="container body-content">
                    <div class="row" style="margin-bottom:20px;width:600px">
                        <div class="text-center col-xs-12">
                            <h3>情绪类别</h3>
                            <div class="well well-sm">
                                <div class="btn-group" data-toggle="buttons" id="Select3">
                                    <label class="btn btn-default" name="emotion_label" id="anger_label">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="checkbox" name="emotion" id="anger" value="1"/>
                                        生气
                                    </label>
                                    <label class="btn btn-default" name="emotion_label" id="sadness_label">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="checkbox" name="emotion" id="sadness" value="2"/>
                                        悲伤
                                    </label>
                                    <label class="btn btn-default" name="emotion_label" id="disgust_label">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="checkbox" name="emotion" id="disgust" value="3"/>
                                        厌恶
                                    </label>
                                    <label class="btn btn-default" name="emotion_label" id="happiness_label">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="checkbox" name="emotion" id="happiness" value="4"/>
                                        高兴
                                    </label>
                                    <label class="btn btn-default" name="emotion_label" id="fear_label">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="checkbox" name="emotion" id="fear" value="5"/>
                                        害怕
                                    </label>
                                    <label class="btn btn-default" name="emotion_label" id="surprise_label">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="checkbox" name="emotion" id="surprise" value="6"/>
                                        惊讶
                                    </label>
                                    <label class="btn btn-default" name="emotion_label" id="love_label">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="checkbox" name="emotion" id="love" value="7"/>
                                        喜爱
                                    </label>
                                    <label class="btn btn-default">
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <input type="checkbox" name="emotion" id="none" value="0"/>
                                        其他
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container body-content">
                    <div class="row" style="margin-bottom:20px;width:600px">
                        <button class="btn" id="add_row_button">添加</button>
                        <table class="table table-striped table-bordered" id="emotion_table">
                            <tr>
                                <th style="vertical-align: middle !important;text-align: center;" nowrap="nowrap">
                                    情绪
                                </th>
                                <th style="vertical-align: middle !important;text-align: center;">主体</th>
                                <th style="vertical-align: middle !important;text-align: center;">客体</th>
                                <th style="vertical-align: middle !important;text-align: center;">线索</th>
                                <th style="vertical-align: middle !important;text-align: center;" nowrap="nowrap">
                                    操作
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class="text-center">
                    <button class="btn btn-info" id="pre_button">上一个</button>
                    <button class="btn btn-info" id="save_button">导出标注结果</button>
                    <button class="btn btn-info" id="next_button">下一个</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">标注规范和操作说明</h4>
                </div>
                <div class="modal-body">
                    <!--<p><strong>快捷键：</strong>-->
                    <!--<mark>方向键上、下: 上一个/下一个&nbsp;</mark>-->
                    <!--</p>-->
                    <!--<p><strong>跳转：</strong>-->
                    <!--<mark>点击当前新闻序号id</mark>-->
                    <!--</p>-->
                    <p>标注规范网址：http://www.kaili.gov.cn/zwgk/xxgkml/jcgk/yjgl/yjya/201806/t20180612_3159681.html</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">退出</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
</body>
<style>
    .btn {
        background-color: #d9edf7;
        color: #31708f;
        border-color: #bce8f1;
    }


</style>
</html>
