{% extends 'base.html' %}
{% load static %}
{% block title %}
    情绪标注工具
{% endblock %}
{% block jsblock %}
    <script src="{% static 'js/react.bundle.js' %}"></script>
{% endblock %}
{% block file_input %}
    <div id="file_view" style="text-align:center;margin-top: 20px">
        <h3>选择文件</h3>
        <input type="file" id="file_input"/>
    </div>
{% endblock %}
{% block jump %}
    <div class="row clearfix text-center" style="margin-bottom: 20px;font-size: 25px;">
        <div id="div_id_show">
            <span id="current_id_show" class="text-info"></span>
            <span class="text-primary">/</span>
            <span id="last_id_show" class="text-info"></span>
        </div>
        <div id="div_id_edit" style="display:none">
            <input type="number" id="target_id_edit" style="width: 70px;height:30px"/>
            <span class="text-info">/</span>
            <span id="last_id_edit"></span>
            <button id="switch_button" class="btn btn-info btn-sm">跳转</button>
            <button id="cancel_button" class="btn btn-info btn-sm">取消</button>
        </div>
    </div>
{% endblock %}
{% block left_bottom %}
    <div id="emotion_prompt" style="display: none">
        <h3 class="text-center">提示</h3>
        <div id="emotion_prompt_content"></div>
    </div>
{% endblock %}
